@page "/pages/categories/delete/{id:int?}"
@model BookStoreWeb.Pages.Categories.DeleteModel

<h2>Delete</h2>

<p>Are you sure you want to delete this category?</p>

<table class="table table-bordered table-striped mt-3 mb-3">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Category!.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Category!.DisplayOrder)</th>
        <th>@Html.DisplayNameFor(model => model.Category!.CreatedDateTime)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
         <th>@Html.DisplayFor(model => model.Category!.Name)</th>
         <th>@Html.DisplayFor(model => model.Category!.DisplayOrder)</th>
         <th>@Html.DisplayFor(model => model.Category!.CreatedDateTime)</th>
    </tr>
    </tbody>
</table>

<form  method="post">
    <div class="d-flex gap-2">
        <input type="hidden" asp-for="Category!.Id">
        <button class="btn btn-danger">Delete</button>
        <a asp-page="Index" class="btn btn-outline-primary">Back</a>
    </div>
</form>