@page "/pages/categories"
@model BookStoreWeb.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<div class="row pt-4 mb-5">
    <div class="col-6">
        <h2 class="text-primary">Category List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-page="./Create" class="btn btn-outline-secondary">
            <i class="bi bi-plus-circle"></i>&nbsp;<span>Create New Category</span>
        </a>
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Category Order</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model.Categories ?? Enumerable.Empty<Category>())
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>
                    <div class="d-flex justify-content-center gap-2">
                        <a asp-page="./Edit" asp-route-id="@category.Id" class="btn btn-warning d-inline-flex gap-1">
                            <i class="bi bi-pencil-square"></i>Edit
                        </a>
                        <a asp-page="Delete" asp-route-id="@category.Id" class="btn btn-danger d-inline-flex gap-1">
                            <i class="bi bi-trash"></i>Delete
                        </a>
                        <a asp-page="/categories/details" asp-route-id="@category.Id" 
                           class="btn btn-secondary d-inline-flex gap-1">
                            <i class="bi bi-file-text"></i>Details
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>